.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar_logo {
  height: 100px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.navbar_logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.discussion_background {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.playlist_logo {
  height: 120px;
}

.ic {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.butt {
  height: 300px;
  width: 140px;
  border-radius: 30px 0px 0px 30px;
  border-width: 0;
  box-shadow: 0px 8px 6px -12px rgba(0, 0, 0, 0.5),
    -12px 0 8px -4px rgba(0, 0, 0, 0.5);
  /* background-color: black; */
  opacity: 0.6;
}

.vl {
  border-left: 2px solid white;
  height: 200px;
}

.hl {
  border-top: 2px solid black;
  width: 500px;
  position: relative;
}

.hl_reflect {
  border-top: 2px solid;
  border-image: linear-gradient(
    to right,
    #fa65f7,
    #f18cff,
    #eaaaff,
    #e8c5ff,
    #ebddff,
    #e6e6ff,
    #e5edff,
    #e9f3ff,
    #cff1ff,
    #acf1ff,
    #81f2ff,
    #4cf2fa
  );
  border-image-slice: 1;
  width: 60%;
  position: relative;
  margin-top: 1.75%;
}

.sidebar-hl {
  border-top: 0.2px solid #c4c4c4;
  width: 165px;
  position: relative;
}

.bubble {
  position: absolute;
  background-color: green;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  top: -6px;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.bubble_reflect {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  top: -6px;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.pinbar {
  border-left: 2px solid black;
  height: 30px;
  position: absolute;
  top: -15px;
}

.pincircle {
  position: absolute;
  height: 14px;
  width: 14px;
  border: 1px solid #889AAB; 
  border-radius: 50%;
  top: -8px;
  /* display: inline-block; */
}

.vl2 {
  border-left: 2px solid white;
  height: 100px;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 12px solid white;
}

.listening-back {
  background-image: linear-gradient(
    90deg,
    #5c719b 33.33%,
    #565eb2 33.33%,
    #161a39 66.66%
  );
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0px;
}

.home-back {
  background-image: linear-gradient(90deg, #f0f0f0 16%, #565eb2 16%);
  /* background-size: 100% 100%; */
  background-repeat: no-repeat;
  margin: 0px;
}

.midcontainer {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.reflect-top {
  background-image: linear-gradient(180deg, #5e768d, #48647e, #304f6d);
  background-repeat: no-repeat;
  /* background-size: 100%; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.slidecontainer {
  width: 100%;
}
.slider {
  -webkit-appearance: none;
  width: 80%;
  height: 3px;
  border-radius: 5px;
  background: linear-gradient(
    to right,
    #fa65f7,
    #f18cff,
    #eaaaff,
    #e8c5ff,
    #ebddff,
    #e6e6ff,
    #e5edff,
    #e9f3ff,
    #cff1ff,
    #acf1ff,
    #81f2ff,
    #4cf2fa
  );
  /* background: black; */
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.listening-main {
  background-image: linear-gradient(
    #94a4b4,
    #6f8599,
    #4d6881,
    #3c5a76,
    #2f4f6d,
    #214363,
    #193c5d,
    #123758
  );
}

.listening-body {
  background-image: linear-gradient(
    #94a4b4,
    #6f8599,
    #4d6881,
    #3c5a76,
    #2f4f6d,
    #214363,
    #193c5d,
    #123758
  );
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

.EuclidFlexMedium {
  font-family: "EuclidFlexMedium";
}

.EuclidFlexLight {
  font-family: "EuclidFlexLight";
}

.EuclidFlexRegular {
  font-family: "EuclidFlexRegular";
}

.userContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.userLetter {
  margin-bottom: 0;
  font-weight: bold;
  color: white;
  font-size: x-large;
}

.userName {
  color: white;
  font-size: 14px;
  font-weight: 500;
  line-height: 0.625;
  margin-bottom: 0.5rem;
}

.followers {
  color: white;
  font-size: 12px;
  font-weight: 300;
  line-height: 0.625;
}

.sidebar-title {
  /* font-family: EuclidFlex; */
  color: white;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.425;
}

.far-left {
  height: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.far-left-top {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.home-column {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

.reflection-column {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.middle {
  height: 30;
  min-height: 50%;
  height: 850px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  border-radius: 30px 0px 0px 30px;
  background-color: #4f57aa;
  box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.5),
    -12px 0 8px -4px rgba(0, 0, 0, 0.5);
  height: 100vh;
}

.farRight {
  height: 30;
  min-height: 50%;
  height: 850px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  background-color: #4f57aa;
  height: 100vh;
}

.middle::-webkit-scrollbar {
  display: none;
}

.cctext {
  padding-top: 2%;
  padding-bottom: 2%;
  color: #5d646a;
  font-size: 18px;
  font-family: Avenir Book;
}

.cctext-mainComp {
  padding-top: 2%;
  padding-bottom: 2%;
  color: white;
  font-size: 18px;
  font-family: Avenir Heavy;
}

.select {
  background: black;
}
.highlighted-pin {
  /* background: #6f77ce; */
  color: #8dbbe5;
}

.selectGroup {
  height: 100vh;
  width: 100%;
}

.exampleBox {
  width: 100%;
  height: 100%;
  padding: 10px;
  margin: 0 auto;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border 0.2s ease-in-out;
}

.exampleBox:hover {
  border-color: #337ab7;
}

.exampleBox__label {
  text-align: center;
  font: 16px/1.5 Helvetica, Arial;
}

.episode-summary {
}

.playbar {
  border-top: #161a39;
}

.dropdown-slidedown {
  transition-duration: 0.8s;
  transition-timing-function: ease-in-out;
}

/* .dropdown-slidedown.overlay {
  position: absolute;
} */

/* .switch-wrapper {
  position: relative;
} */

/* .switch-wrapper > div {
  position: absolute;
} */

.listening-captions {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

input::placeholder {
  color: white;
  font-family: "Avenir Heavy";
  font-size: 12px;
}

.slider-listening {
  -webkit-appearance: none;
  width: 72%;
  height: 3px;
  border-radius: 5px;
  background: linear-gradient(
    to right,
    #fa65f7,
    #f18cff,
    #eaaaff,
    #e8c5ff,
    #ebddff,
    #e6e6ff,
    #e5edff,
    #e9f3ff,
    #cff1ff,
    #acf1ff,
    #81f2ff,
    #4cf2fa
  );
  /* background: black; */
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider-listening::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

.slider-listening::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

/* 
  Hovering over image thumbnail styles 
*/ 

.imageContainer {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  width: 300px;
}
.podcast_thumbnail {
  position: relative;
  top: 0;
  left: 0;
}
.play_overlay {
  position: absolute;
  bottom: 30px;
  left: 19%;
  opacity: 0.4;
}

.play_overlay:hover {
  opacity: 1;
}