.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar_logo {
  height: 100px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.navbar_logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.discussion_background {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.playlist_logo {
  height: 120px;
}

.ic {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.butt {
  height: 300px;
  width: 140px;
  border-radius: 30px 0px 0px 30px;
  border-width: 0;
  box-shadow: 0px 8px 6px -12px rgba(0, 0, 0, 0.5),
    -12px 0 8px -4px rgba(0, 0, 0, 0.5);
  /* background-color: black; */
  opacity: 0.6;
}

.vl {
  border-left: 2px solid white;
  height: 200px;
}

.hl {
  border-top: 2px solid black;
  width: 500px;
  position: relative;
}

.bubble {
  position: absolute;
  background-color: green;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  top: -6px;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.pinbar {
  border-left: 2px solid black;
  height: 30px;
  position: absolute;
  top: -15px;
}

.vl2 {
  border-left: 2px solid white;
  height: 100px;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 12px solid white;
}

.listening-back {
  background-image: linear-gradient(
    90deg,
    #5c719b 33.33%,
    #565eb2 33.33%,
    #161a39 66.66%
  );
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0px;
}

.home-back {
  background-image: linear-gradient(
    90deg,
    /* #5c719b 33.33%, */ #565eb2 100%,
    #161a39 33.33%
  );
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0px;
}

.midcontainer {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.slidecontainer {
  width: 100%;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

.EuclidFlexMedium {
  font-family: "EuclidFlexMedium";
}

.EuclidFlexLight {
  font-family: "EuclidFlexLight";
}

.EuclidFlexRegular {
  font-family: "EuclidFlexRegular";
}

.userContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.userLetter {
  margin-bottom: 0;
  font-weight: bold;
  color: white;
  font-size: x-large;
}

.userName {
  color: white;
  font-size: 14px;
  font-weight: 500;
  line-height: 0.625;
  margin-bottom: 0.5rem;
}

.followers {
  color: white;
  font-size: 12px;
  font-weight: 300;
  line-height: 0.625;
}

.sidebar-title {
  /* font-family: EuclidFlex; */
  color: white;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.425;
}

.far-left {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  background-color: #5c719b;
  height: 100vh;
}

.far-left-top {
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  background-color: #5c719b;
  height: 100vh;
}

.home-column {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

.middle {
  height: 30;
  min-height: 50%;
  height: 850px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  border-radius: 30px 0px 0px 30px;
  background-color: #4f57aa;
  box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.5),
    -12px 0 8px -4px rgba(0, 0, 0, 0.5);
  height: 100vh;
}

.farRight {
  height: 30;
  min-height: 50%;
  height: 850px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  background-color: #4f57aa;
  height: 100vh;
}

.middle::-webkit-scrollbar {
  display: none;
}

.cctext {
  padding-top: 2%;
  padding-bottom: 2%;
  color: rgb(65, 65, 65);
  font-size: 20px;
}

.cctext-highlighted {
  padding-top: 2%;
  padding-bottom: 2%;
  color: white;
  font-size: 20px;
}

.select {
  background: black;
}
.highlighted-pin {
  background: #6f77ce;
}

.selectGroup {
  height: 100vh;
  width: 100%;
}

.exampleBox {
  width: 100%;
  height: 100%;
  padding: 10px;
  margin: 0 auto;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border 0.2s ease-in-out;
}

.exampleBox:hover {
  border-color: #337ab7;
}

.exampleBox__label {
  text-align: center;
  font: 16px/1.5 Helvetica, Arial;
}

.episode-summary {
}
